extends index

block scriptsandstyles
  style(type='text/css').
  
  script.
    console.log('device list', !{JSON.stringify(devicelist)})

block tabcontent
  
  .card.mb-1
    #formheading.card-header.text-right(role='tab')
      h6.mb-0.text-white
        a(data-toggle='collapse', href='#formcollapse') &raquo Add a new device
    #formcollapse.collapse(role='tabpanel')
      .card-block
        form(action='/lora/form?save',method='post',name="device")
          div.form-group.row
            label.col-4.col-form-label.text-muted(for='') Device unique ID
            div.col-8
              input.form-control(id='',type='text',value='',placeholder='DEV_EUI',name='dev_eui')
          div.form-group.row
            label.col-4.col-form-label.text-muted(for='') Application ID
            div.col-8
              input.form-control(id='',type='text',value='',placeholder='APP_EUI',name='app_eui')
          div.form-group.row
            label.col-4.col-form-label.text-muted(for='') Command Sequence
            div.col-8
              input.form-control(id='',type='text',value='',placeholder='current CmdAck value if known',name='cmd_ack')
          div.form-group.row
            div.col-12
              input.btn.btn-success.float-right(type='submit',value='Save')
  each device in devicelist
    a.list-group-item.flex-column.align-items-start
      .d-flex.w-100.justify-content-between
        h6.mb-1 Device #{device.deveui}
        small.text-muted Last seen #{device.lastseen}
      p.mb-1
        ul.list-group
            li(class='list-group-item',style={'padding': 0, 'border': 'none', 'font-size': '0.7rem'}) 'App Id :' #{device.appeui}
            li(class='list-group-item',style={'padding': 0, 'border': 'none', 'font-size': '0.7rem'}) 'CmdAck :' #{device.cmdack}
            li(class='list-group-item',style={'padding': 0, 'border': 'none', 'font-size': '0.7rem'}) 'Active :' #{device.active}
            li(class='list-group-item',style={'padding': 0, 'border': 'none', 'font-size': '0.7rem'}) 'mV :' #{device.vdd}
            
  script(src="https://code.jquery.com/jquery-3.2.1.slim.js",integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg=",crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js", integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1", crossorigin="anonymous")
      
      
      
