extends index

block tabcontent
  p Result of the RPC-JSON request
  
  if response.result
    pre(style="color:green")
      !{JSON.stringify(response, undefined, ' ')}
  if response.error
    pre(style="color:red")
      !{JSON.stringify(response, undefined, ' ')}
  
  
  // Or use a table to highlight the data
  // table
    thead.thead-inverse
      tr
        th Key
        th Value
    tbody
      each val, index in response
        if response.result
          tr
            td.bg-success= index
            td.bg-success= val
      
        if response.error
          tr
            td.bg-danger= index
            td.bg-danger=JSON.stringify(val, null, 6)
